.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

body {
<!-- 明朝体 font-family: 'Noto Serif JP', serif;
-->
}
body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.slider-items {
    width: 80%;
    max-width: 700px;
    margin: 30px auto 30px;
    padding: 0;
    height: auto;
}
.slider-items img {
    width: 100%;
}

.slider-items p {
    color: whitesmoke;
    text-align: center;
    margin-top: 5px auto 0px;
    font-size: 3vh;
    font-family: 'M PLUS 1p', sans-serif;
}

.cards {
    margin: 30px auto 10px;
}

.copyright {
    color: ghostwhite;
    text-align: center;
    margin: 30px auto 30px;
}

@media screen and (max-width: 768px) and (min-width: 480px) {
    iframe .twitter-timeline-rendered {
        width: 490px !important;
    }
}

@media screen and (max-width: 480px) {
    iframe.twitter-timeline-rendered {
        width: 450px !important;
        margin: 0 auto;
    }
}

.timeline-Widget {
    max-width: 300px !important;
    width: 200px !important;
}