.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.slider-items {
    max-height: 600px;
    margin: 0 auto 50px;
    padding: 0;
    width: auto;
    background: yellow;
}

.slider-items img {
    width: 100%;
}